.navbar {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    padding: 10px 20px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    z-index: 10;
}

.navbar a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: 400;
    font-size: 1.1em;
    transition: color 0.3s ease, border-bottom 0.3s ease;
    padding-bottom: 5px;
}

.navbar a:hover {
    color: #703529;
}

.navbar a.active {
    color: #703529;
    border-bottom: 2px solid #703529;
}